.topbar-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 10px;
}

.clock span {
    position: absolute;
    transform: rotate(calc(30deg * var(--i)));
    inset: -5px;
    text-align: center;
}

.clock span b {
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
    font-size: 10px;
}

.clock::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #000;
    z-index: 2;
}

.hand {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hand i {
    position: absolute;
    background-color: var(--clr);
    height: var(--h);
    border-radius: 8px;
}

.display-date {
    text-align: center;
    font-size: 13px;
    font-weight: 600;
}

.display-time {
    text-align: left;
    font-size: 13px;
    font-weight: bold;
    border-radius: 5px;
    transition: ease-in-out 0.1s;
    transition-property: background, box-shadow, color;
    -webkit-box-reflect: below 2px linear-gradient(transparent, rgba(255, 255, 255, 0.05));
}

.display-time:hover {
    color: #272727;
    cursor: pointer;
}

.nav-drawer .nav-subnav > li > a:hover {
    background-color: #f8eb95;
}
